*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  /* font-size: 16px;*/
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading .heading-seconndry {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s;
  letter-spacing: .2rem;
  text-align: center; }
  .heading .heading-seconndry:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading__border:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100%;
  margin: 0 auto;
  margin-top: 30px; }

.list__main-nav {
  float: right;
  list-style: none;
  position: relative;
  right: 20rem; }
  .list__main-nav::after {
    content: "";
    display: table;
    clear: both; }
  .list__main-nav li {
    display: inline-block;
    margin-left: 2rem;
    margin-top: 2rem; }
  .list__main-nav li a:link,
  .list__main-nav li a:visited {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s; }
  .list__main-nav li a:hover,
  .list__main-nav li a:active {
    border-bottom: 2px solid #e67e22; }

.dropdown {
  float: right;
  right: 0;
  overflow: hidden;
  background-color: transparent;
  margin-top: 2.53rem;
  margin-left: 1.2rem;
  position: absolute;
  z-index: 1; }
  .dropdown::after {
    content: "";
    display: table;
    clear: both; }
  .dropdown__dropbtn {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
    background-color: transparent;
    border: none; }
    .dropdown__dropbtn:hover, .dropdown__dropbtn:active {
      border-bottom: 2px solid #e67e22; }
  .dropdown-content {
    width: 20rem;
    height: 26rem;
    border: 2px solid #777;
    background-color: transparent;
    opacity: 0;
    visibility: hidden; }
    .dropdown-content__form-label {
      color: #000;
      font-family: inherit;
      font-size: 1.5rem;
      font-weight: 700; }
  .dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible; }
  .dropdown__headding {
    color: red;
    font-size: 1.5rem;
    font-weight: 500; }

.hedding-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: red;
  text-align: center; }

.heading-winner {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: red;
  text-align: center;
  margin-bottom: 1.5rem; }
  .heading-winner:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.label {
  color: #000; }

.hedding-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
  .hedding-tertiary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 120%;
  width: 100%;
  z-index: -1;
  opacity: .2;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.player {
  width: 65%;
  margin-top: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.player-box {
  background-color: white;
  font-size: 1.5rem;
  margin-bottom: 5rem;
  padding: 2.5rem;
  font-weight: 700;
  text-align: left;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .player-box__img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .player-box__text {
    text-align: left;
    width: 50%;
    margin-left: 0; }
  .player-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .player-box--value {
    width: 50%;
    border: none; }

.event {
  width: 120%;
  height: 35rem;
  background-color: white;
  margin-bottom: 3rem;
  opacity: 1; }

  .event h2 {
    opacity: 1; 
    font-size: 135%;
    color: #000000;
    text-align: center;
  
  }

  .event table {
    border-collapse:collapse;
    table-layout:fixed;
    width: 100%;
    
}

.event table tr.red{
  border:1px solid #ccc;
  padding:5px 10px;
  vertical-align:top;
  word-break:break-word;
  color: #f30e0e
}
.event table tr.green{
  border:1px solid #ccc;
  padding:5px 1px;
  vertical-align:top;
  word-break:break-word;
  color: #04f524
}

.event table td{
    padding:5px 5px;
    vertical-align:top;
    word-break:break-word;
    
}
.event table th{
  padding:5px 12px;
  vertical-align:top;
  word-break:break-word;
  
}


#Transaction {
  width: 100%;
  height: 35rem;
  background-color: white;
  margin-bottom: 3rem;
  opacity: 1; }


  #Transaction table {
    border-collapse:collapse;
    table-layout:fixed;
    width: 100%;
}

#Transaction table tr{
  border:1px solid rgb(209, 157, 43);
  padding:5px 10px;
  vertical-align:top;
  word-break:break-word;
  color: #080101;
  background-color: #ebc1ab
  
}

#Transaction table td{
    padding:5px 12px;
    vertical-align:top;
    word-break:break-word;
    text-align: center;
    
}
#Transaction table th{
  padding:5px 10px;
  vertical-align:top;
  word-break:break-word;
  font-variant: small-caps;
  background-color: #e9c653
  
}


 .event table {
    border-collapse:collapse;
    table-layout:fixed;
}

.event table tr.red{
  border:1px solid #ccc;
  padding:5px 10px;
  vertical-align:top;
  word-break:break-word;
  color: #f30e0e
}
.event table tr.green{
  border:1px solid #ccc;
  padding:5px 1px;
  vertical-align:top;
  word-break:break-word;
  color: #04f524
}

.event table td{
    padding:5px 12px;
    vertical-align:top;
    word-break:break-word;
    
}
.event table th{
  padding:5px 10px;
  vertical-align:top;
  word-break:break-word;
  
}



#Transaction {
  width: 100%;
  height: 35rem;
  background-color: white;
  margin-bottom: 3rem;
  opacity: 1; }


  #Transaction table {
    border-collapse:collapse;
    table-layout:fixed;
    width: 100%;
}

#Transaction table tr{
  border:1px solid rgb(209, 157, 43);
  padding:5px 10px;
  vertical-align:top;
  word-break:break-word;
  color: #080101;
  background-color: #ebc1ab
  
}

#Transaction table td{
    padding:5px 12px;
    vertical-align:top;
    word-break:break-word;
    text-align: center;
    
}
#Transaction table th{
  padding:5px 10px;
  vertical-align:top;
  word-break:break-word;
  font-variant: small-caps;
  background-color: #e9c653
  
}




.player-box-1 {
  font-weight: 700;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  margin-top: 2rem;
  background-color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 2.5rem;
  text-align: left;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .player-box-1__img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .player-box-1__text {
    text-align: left; }
  .player-box-1:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 97%;
    background-color: #fff;
    overflow: scroll;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
    .popup__content-detail {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      height: 40rem;
      background-color: #999; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover {
    color: red; }

  .popup__portfolio {
    top: 0;
    left: 0;
    margin-left: 1rem;
    width: 100%;
    height: 20rem;
    overflow: auto;
    background-color: #eee; }

    .popup__portfolio table {
      top: 0;
      left: 0;
      margin-left: 1rem;
      width: 100%;
      height: 10rem;
      background-color: #eee;
      overflow: auto;
     }
     .popup__content h2{
       color: rgb(14, 1, 1);padding: 5px;

     }

     #stockTable td {
      border: 1px #DDD solid; 
      padding: 5px; 
      cursor: pointer;}

      #ownedStockTable td {
        border: 1px #DDD solid; 
        padding: 5px; 
        cursor: pointer;}

      .selectedStock {
        background-color: rgb(213, 231, 108);
        color: #FFF;
    }

    .txtbox{
      display: block;
      float: left;
      height: 32px;
      width: 100px;
  }

  .btncls{
      display: block;
      float: left;
      height: 40px;
      margin: -1px -2px -2px;
      width: 41px;
  }

     

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scalex(1.4) scale(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: orangered;
  color: #fff; }
  .btn--green::after {
    background-color: orangered; }


    .btn--turn {
      background-color: rgba(12, 212, 62, 0.199);
    border:rgb(194, 13, 13) ;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%; 
   }
        

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: red;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid red;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: orangered;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }


  .txtbox{
    display: block;
    float: left;
    height: 40px;
    width: 50px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    float: right;
    background-color: transparent;
}

.btncls{
    display: block;
    float: left;
    height: 40px;
    margin: -1px -2px -2px;
    width: 50%;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
    font-size: 2rem;
    font-family: inherit;
    background-color: orangered;
    color: rgb(15, 4, 4);
    float: right;
}


  
.button {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem; }
  .button__collapsible {
    background-color: orangered;
    color: #fff;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2rem;
    font-family: inherit; }
    .button__collapsible:active, .button__collapsible:hover {
      background-color: rgba(255, 69, 0, 0.8); }
    .button__collapsible:after {
      content: "\002B";
      color: #fff;
      font-weight: bold;
      float: right;
      margin-left: 5px; }
    .button__collapsible:active:after {
      content: "\2212"; }

.button__content {
  margin-left: 1rem;
  width: 100%;
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent; }
  .button__content-form--group {
    margin-bottom: 2rem; }

.vl {
  border-left: 2px solid #999;
  height: 80rem;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 11rem; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rbga(#fff, 0.5);
  border-bottom: 3px solid transparent;
  border: none;
  width: 90%;
  display: block; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rbga(#000, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translatey(-4rem); }

.bbalance {
  margin-left: 1rem;
  margin-bottom: 2rem; }
  .bbalance__label {
    font-family: inherit;
    font-weight: 700;
    font-size: 1.6rem;
    width: 50%; }
  .bbalance__input {
    opacity: 1;
    visibility: visible;
    border: none; }

.button1 {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem; }
  .button1__collapsible {
    background-color: orangered;
    color: #fff;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2rem;
    font-family: inherit; }
    .button1__collapsible:active, .button1__collapsible:hover {
      background-color: rgba(255, 69, 0, 0.8); }
    .button1__collapsible:after {
      content: "\002B";
      color: #fff;
      font-weight: bold;
      float: right;
      margin-left: 5px; }
    .button1__collapsible:active:after {
      content: "\2212"; }

.button__content {
  margin-left: 1rem;
  width: 100%;
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent; }
  .button__content-form--group {
    margin-bottom: 2rem; }

.row {
  max-width: 114rem;
  background-color: transparent;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 4rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 4rem) / 3) + 4rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 4rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 4rem) / 4) + 4rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 4rem) / 4) + 2 * 4rem); }
