.btn{
    &:link,
    &:visited{
    
        text-transform: uppercase;
        text-decoration: none;
        padding:1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
    
    }
    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after{
            transform: scalex(1.4) scale(1.6);
            opacity: 0;
        }
    }
    
    &:active{
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
    &--white{
        background-color:$color-white;
        color: $color-grey-dark;

        &::after{
            background-color: $color-white;
        
        
        }
        
    }
    &--green{
        background-color:$color-red-1;
        color: $color-white;

        &::after{
            background-color: $color-red-1;
       
        
        }
        
    }
    
    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
   
    
    &--animated{
        animation: moveInBottom 0.5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}





.btn-text{
    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $color-red;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-red;
        padding: 3px;
        transition: all .2s;
       

    }
    &:hover{
        background-color: $color-red-1;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black,.15);
        transform: translateY(-2px);
    }
    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-black,.15);
        transform: translateY(0);
    }
}
