
.button{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    
    &__collapsible {
        background-color:$color-red-1;
        color:$color-white;
        cursor: pointer;
        padding: 1rem;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 2rem;
        font-family: inherit;

        &:active,
        &:hover{
            background-color: rgba($color-red-1,.8);
        }
        &:after{
        content: "\002B";
        color: $color-white;
         font-weight: bold;
        float: right;
        margin-left: 5px;
        }
        &:active:after{
            content: "\2212";
        }
    } 
}

.button__content{
    margin-left: 1rem;
    width: 100%;

    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: transparent;

    &-form--group{
        margin-bottom:2rem;
    }
}
.vl {
    border-left: 2px solid $color-grey-dark-2;
    height: 80rem;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 11rem;
}

.form{
    &__group:not(:last-child){
        margin-bottom: 2rem;
    }

    &__input{

        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rbga($color-white,.5);
        border-bottom: 3px solid transparent;
        border: none;
        width: 90%;
        display: block;

        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rbga($color-black,.1);
            border-bottom: 3px solid $color-primary;
        }
        &:focus:invalid{
            
            border-bottom: 3px solid $color-secondry-dark;
        }

        &::-webkit-input-placeholder{
            color: $color-grey-dark-2;
        }
    }
  
    
    &__label{

      font-size: 1.2rem;  
      font-weight: 700;
      margin-left: 2rem;
      margin-top: .7rem;
      display: block;
      transition: all .3s;
    }
 
    &__input:placeholder-shown + &__label{

        opacity: 0;
        visibility: hidden;
        transform: translatey(-4rem);
    }
}
.bbalance{
    margin-left: 1rem;
    margin-bottom: 2rem;
    &__label{
        font-family: inherit;
        font-weight: 700;
        font-size: $default-font-size;
        width: 50%;

           }
           &__input{
            opacity: 1;
            visibility: visible;
            border: none;
        }
}

.button1{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    
    &__collapsible {
        background-color:$color-red-1;
        color:$color-white;
        cursor: pointer;
        padding: 1rem;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 2rem;
        font-family: inherit;

        &:active,
        &:hover{
            background-color: rgba($color-red-1,.8);
        }
        &:after{
        content: "\002B";
        color: $color-white;
         font-weight: bold;
        float: right;
        margin-left: 5px;
        }
        &:active:after{
            content: "\2212";
        }
    } 
}
.button__content{
    margin-left: 1rem;
    width: 100%;

    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: transparent;

    &-form--group{
        margin-bottom:2rem;
    }
}