
.player{
  width: 65%;
 margin-top: 2rem;
 display: block;
 margin-left: auto;
 margin-right: auto;

}
.player-box{
  
    background-color: rgba($color-white, 1);
    font-size: 1.5rem;
    margin-bottom: 5rem;  
    padding: 2.5rem;
    font-weight: 700;
    text-align: left;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black,.15);
    transition: transform .3s;

    &__img{
     display: block;
    margin-left: auto;
    margin-right: auto;
    }

    &__text{
        text-align: left;
        width: 50%;
        margin-left: 0;
        
    }
    &:hover{
        transform: translateY(-1.5rem) scale(1.03);
    }
 &--value{
  width: 50%;
  border: none;
}
 
}


.event{
    
    width: 100%;
    height: 35rem;
    background-color: rgba($color-white, 1);
    margin-bottom: 3rem;
    opacity: .5;
  
}
.player-box-1{
    font-weight: 700;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-top: 2rem;
    background-color: rgba($color-white, 1);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    
    padding: 2.5rem;
    text-align: left;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black,.15);
    transition: transform .3s;

    &__img{
     display: block;
    margin-left: auto;
    margin-right: auto;
    }

    &__text{
        text-align: left;
    }
    &:hover{
        transform: translateY(-1.5rem) scale(1.03);
    }
 
}
