.popup{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba($color-black,.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__content{
   
        @include absCenter;
        width: 95%;
        height: 97%;
        background-color: $color-white;
        overflow: scroll;
        box-shadow: 0 2rem 4rem rgba($color-black,.2);
        opacity: 0;
        transform: translate(-50%,-50%) scale(.25);
        transition: all .5s .2s;
 
        &-detail{
            @include absCenter;
            width: 75%;
            height: 40rem;
            background-color:$color-grey-dark-2;
            
        }
    }
    &:target{
        opacity: 1;
        visibility:visible;
    }
    &:target &__content{
        opacity: 1;
            transform: translate(-50%,-50%) scale(1);
       }
    &__close{
        &:link,
        &:visited{
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }
        &:hover{
            color: $color-red;
        }
    }
   &__portfolio{
    top: 0;
    left: 0; 
    margin-left: 1rem;
    width: 100%;
    height: 20rem;
    background-color: $color-grey-light-2;
   }
}

