body{
    font-family: "Lato",sans-serif;
    font-weight: 400;
   /* font-size: 16px;*/
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;

}
.heading{
    .heading-seconndry{
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;
        transition: all .2s;
        letter-spacing: .2rem;
        text-align: center;
        &:hover{
            transform: skewY(2deg) skewX(15deg) scale(1.1);
            text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        }

       
    
    }

   
     &__border:after{
        display: block;
        height: 2px;
        background-color:$color-orange;
        content: " ";
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
     }
    
}
.list__main{
    &-nav{
        float: right;
        list-style:none;
        @include clearfix;
        position: relative;
        right: 20rem;
       // display: inline-block;

        li{
            display: inline-block;
            margin-left: 2rem;
            margin-top: 2rem;
            
            
        }
        li a:link,
        li a:visited{
            color: $color-black;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.6rem;
            border-bottom: 2px solid transparent;
            transition: border-bottom 0.3s;
        }
         li a:hover,
         li a:active{
    
       border-bottom: 2px solid$color-orange;
            } 
        
          
    }
   
}
.dropdown{
    @include clearfix;
    float: right;
    right: 0;
    overflow: hidden;
    background-color: transparent;
   margin-top: 2.53rem;
   margin-left: 1.2rem;
   position: absolute;
   z-index: 1;
  

    &__dropbtn{
        
        
        color: $color-black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.6rem;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.3s;
        background-color: transparent;
        border: none;

        &:hover,
        &:active{
            border-bottom: 2px solid$color-orange;
        }
      
    }
    &-content{
    width: 20rem;
    height: 26rem;
    border: 2px solid $color-grey-dark;
    background-color:transparent;
   opacity: 0;
   visibility: hidden;   
        
   &__form{
    &-label{
        color:$color-black;
        font-family: inherit;
        font-size: 1.5rem;
        font-weight: 700;
    }
}
       
    }
    &:hover &-content {
        opacity: 1;
       visibility: visible;
    }
    &__headding{
        color: $color-red;
        font-size: 1.5rem;
        font-weight: 500;
    }
   
}

.hedding-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-red;
    text-align: center;
   
    }

.heading-winner{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color:$color-red;
    text-align: center;
    margin-bottom: 1.5rem;

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}
.label{
    color: $color-black;
}

.hedding-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
    }
    