$color-primary:#55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark:#28b485;

$color-secondry-light:#ffb900;
$color-secondry-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2:#eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-white:#fff;
$color-black:#000;
$color-red:red;
$color-red-1:orangered;
$color-orange:#e67e22;

//GRID

$grid-width:114rem;
$gutter-verticle:8rem;
$gutter-horizontal:4rem;

//FONT  

$default-font-size:1.6rem;